@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto" !important;
}

p,
span {
  color: black;
}

.ant-tabs-ink-bar {
  background-color: #7c3aed !important;
}

a {
  color: white !important;
}

.content .dark {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(to top, #000, transparent 100%);
  border-radius: 4px;
}

.movieImg *,
.content .description * {
  transition: all 0.5s;
}

.content .playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content:hover .playButton img:hover {
  opacity: 0.7;
}

.buyTicket {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  opacity: 0;
}

.content:hover .description * {
  opacity: 0;
}

.content:hover .playButton,
.content:hover .dark,
.content:hover .buyTicket {
  opacity: 1;
}
