@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto" !important;
}

p,
span {
  color: black;
}

.ant-tabs-ink-bar {
  background-color: #7c3aed !important;
}

#rc-tabs-0-panel-1,
#rc-tabs-2-panel-1,
#rc-tabs-3-panel-1,
#rc-tabs-4-panel-1,
#rc-tabs-5-panel-1,
#rc-tabs-6-panel-1 {
  padding: 0 !important;
}

a {
  color: white !important;
}
